TUYA_ROBOT_IP=192.168.0.232
TUYA_ROBOT_PORT=6500
TUYA_HEAD_PORT=COM4
TUYA_HEAD_BAUD=115200
TUYA_CHASSIS_PORT=COM16
TUYA_CHASSIS_BAUD=2000000
TUYA_HEAD_AUTO_CONNECT=false
TUYA_CHASSIS_AUTO_CONNECT=false
TUYA_APPLY_LIMITS_ON_INIT=false
TUYA_DEBUG=true
TUYA_PLAIN_RETURN=true
